/*
*common css 
*edited @ 1/14/17
*/

/* Wrapper */
#wrapper {
	padding: 0;
	background: url("library/image/statement-of-work.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

/* Header */
#header {
	width: 1040px;
	height: 150px;
	margin: 0 auto;
}

/* Logo */
#logo {
	width: 1100px;
	height: 150px;
	margin: 0px auto 30px auto;
	color: #000000;
}

/* combined wrapper */
#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: capitalize;
	font-size: 3.8em;
}

#logo p {
	text-align: center;
	color: #ffa500;
}

#logo p a {
	color: #000000;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #054175;
}

/* Menu */
#menu {
	overflow: hidden;
	width: 970px;
	padding: 0px 0px;
	margin: 0px auto 30px auto;
	background: #064C8A;
	border-radius: 20px 0px 20px 0px;
	font-size: 25px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 10px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	font-weight: 250px;
	color: #FFFFFF;
	border: none;
}

#menu a:hover {
	text-decoration: none;
}

#menu a.active {
	background-color: #4682B4; 
	/* color: #3498DB; */
}

/* banner */
#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

/* Footer */
#footer {
	overflow: hidden;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 40px 0 15px 0;
	border-top: 1px solid #D4D4D4;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #000000;
}

#footer a {
	color: #000000;
}