table {	
	table-layout: relative;
	border-collapse: collapse;
	/*margin-bottom: 3em;*/
}

th {
	text-align: center;
	padding: 1em;
	background-color: #4682B4;
	color: white;
}

tr {
	height: 1em;
}

table tr:nth-child(even) {
	background-color: rgba(255, 213, 135, 0.85);
}

table tr:nth-child(odd) {
	background-color: #d9edf7;
}

td {
	width: 10em;
	padding: 1em;
}

.year, .category, .month, .currency {
	width: 155px;
	height: 35px;
	border: 1px solid #ddd;
	line-height: 30px;
	position: relative;
	margin-bottom: 40px;
}

body {
    background-image: url("library/image/statement-of-work.png");
    background-repeat: no-repeat;
    margin-right: 200px;
}
/* .modal-header, .modal-footer{background: #4682b4, color: #fff;}
.btn-primary {    color: #fff;    background-color: #102e48;    border-color: #1e255a;} */