.modal-dialog {
	width: 900px;
}

body {
	font-size: 12px;
}

.table>thead:first-child>tr:first-child>th {
	background: #4682b4;
	color: #fff;
	font-weight: normal;
}

.form-control {
	font-size: 12px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #a99797 !important;
    opacity: 1;
    color: #100e0e;
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: #d9edf7;
}

.table-responsive {
	margin-top: 30px;
	height: 500px !important;
	overflow-x: visible;
}
.modal-header, .modal-footer{background: #4682b4}
.btn-primary {    color: #fff;    background-color: #102e48;    border-color: #1e255a;}